mkdocs==1.5.3
mkdocs-material==9.5.10
pymdown-extensions==10.7
mkdocstrings==0.24.0
mkdocstrings-python==1.8.0
mkdocs-mermaid2-plugin==1.1.1
mkdocs-macros-plugin==1.0.5
mkdocs-autolinks-plugin==0.7.0
mkdocs-git-revision-date-localized-plugin==1.2.2
